@font-face {
    font-family: Clock;
    src: url(../../../Downloads/radioland/RADIOLAND.TTF);
}

* {
    background-color: black;
    color: white;
    user-select: none;
   
}

.watch {
    text-align: center;
}

.watch h1 {
    text-align: center;
    font-size: 5rem;
    animation: 500ms flicker linear infinite;
    text-shadow:
        0px 0px 5px #fff,
        0px 0px 5px #fff,
        0px 0px 5px #fff,
        0px 0px 5px #0fa,
        0px 0px 5px #0fa,
        0px 0px 5px #0fa,
        0px 0px 5px #0fa,
        0px 0px 5px #0fa;
    padding-top: 2.5rem;
}

.hrs,
.min,
.sec {
    font-family: 'clock';
    font-size: 2.6rem;
    font-weight: bolder;


}

.hrs,
.min,
.sec span {
    padding-block: 3rem;
    display: inline-block;
}

.start , .stop , .reset {
    margin-inline: 5rem;
    margin-block: 2.5rem;
    padding-inline: 1rem;
    display: inline-block;
    font-weight: bolder;
    font-size: 2rem;
    text-shadow:
        1px 1px 2px #fff,
        1px 1px 2px #fff,
        1px 1px 2px #fff,
        1px 1px 2px rgb(212, 0, 255),
        1px 1px 2px rgb(98, 0, 255),
        1px 1px 2px rgb(98, 0, 255),
        1px 1px 2px rgb(98, 0, 255),
        1px 1px 2px rgb(98, 0, 255);
 
}



/* @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  } */